<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
</head>
<body>
  <h1>About Us</h1>
  <p>Our vison is to create a sustainable network of pantries providing low-cost food and wrap around services. 
  The pantry is a dignified approach empowering communities to help themselves. 
  The Pantry will support upskilling the community through volunteering and employability opportunities, with the shop itself being utilised as a training facility.</p>
  <p>The Scottish Pantry Network will support the pantries by being the collective voice for change, we forge strong partnerships to support the development of the hub model,
   creating a tailored experience for local communities.  
  The Network will provide ongoing support to the pantries through compliance, lobbying and creating links with food suppliers.</p>
  <p>1. The prevention of poverty and the relief of financial hardship by providing food security to those who need it most and being disadvantaged due to unemployment, low income, lone parent, health, and social standing.</p>
  <p>2. The advancement of community development by acting on behalf of the Network of Pantries, sourcing food to ensure there is enough in the supply chain, lobbying government, providing a regulatory function, and sharing best practice across the Network.</p>
  <p>3. Advancement of environmental protection by reducing food waste locally and nationally.</p>
  <p>4. Advancement of education by Increasing access to skills, training and employment prospects in relation to developing and running a local pantry.</p>
  <p>5. Advancement of health by improving health outcomes – particularly around the consumption of fresh fruit and vegetables, through social eating, improving emotional wellbeing and social inclusion through Pantries acting as community hubs, and by promoting access to nutritious meals and increase fruit and vegetable consumption.</p>
  <p>6. Relief for those in need by providing access to key support such as money advice, credit unions, housing, health, employment and skills.</p>
</body>
</html>
