<!DOCTYPE html>
<html>
<head>
  <title>Create Item</title>
</head>
<body>
  <h1>Create Item</h1>
  <form action="/items" method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
    </div>
    <div>
      <label for="expiryDate">Expiry Date:</label>
      <input type="date" id="expiryDate" name="expiryDate" required>
    </div>
    <button type="submit">Create</button>
  </form>
</body>
</html>
